/* Reset styles and global styles */
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #121212;
    color: #e2e2e2;
}

.main {
    min-height: 75vh;
}

/* Navbar styles */
.custom-navbar {
    background-color: #1a1a1a;
    border-bottom: 2px solid #333;
}

.navbar-toggler-icon {
    filter: invert(1) hue-rotate(90deg);
}

.nav-link {
    color: #e2e2e2;
    transition: color 0.5s, text-shadow 0.5s;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #22cc22;
    text-shadow: 0px 0px 5px #33FF33;
}

.active .nav-link {
    color: #aaa;
}

.navbar-brand {
    color: #33FF33;
}

.navbar-brand.hover-top:hover {
    color: #22cc22;
    text-shadow: 0px 0px 5px #33FF33;
}

/* Headers */
h1, h2 {
    color: #33FF33;
}

h2 {
    font-size: 1.5em;
}

/* Dropdown styles */
.custom-dropdown {
    background-color: #121212;
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.custom-dropdown .dropdown-item {
    color: #e2e2e2;
    transition: background-color 0.3s, color 0.3s;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #1a1a1a;
    color: #22cc22;
}

/* Form styles */
.form-control, .form-control-file {
    background-color: #333;
    border: 1px solid #444;
    color: #e2e2e2;
    transition: border-color 0.5s;
}

.form-control:focus {
    outline: none;
    border-color: #22cc22;
}

/* Button styles */
.btn.custom-btn {
    background-color: #555;
    color: #e2e2e2;
    border: none;
    transition: background-color 0.5s, text-shadow 0.5s;
}

.btn.custom-btn:hover {
    background-color: #666;
    text-shadow: 0px 0px 5px #33FF33;
}

.btn.custom-btn-danger {
    background-color: #900;
    color: #fff;
    border: none;
    transition: background-color 0.5s, text-shadow 0.5s;
}

.btn.custom-btn-danger:hover {
    background-color: #a00;
    text-shadow: 0px 0px 5px #ff3333;
}

/* Footer styles */
.footer.custom-footer {
    background-color: #1a1a1a;
    border-top: 2px solid #2c2c2c;
}

.footer span {
    color: #888;
}

/* About page specific styles */
.about-content {
    text-align: center;
    padding: 50px 0;
}

.about-content a {
    color: #33FF33;
    transition: color 0.5s, text-shadow 0.5s;
}

.about-content a:hover {
    color: #22cc22;
    text-shadow: 0px 0px 5px #33FF33;
}
