@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    color: #66ff66;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(0deg, #181818, #333);
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    text-shadow: 0 0 5px #66ff66;
    margin-bottom: 1em;
}

.highlight {
    background: #66ff66;
    color: black;
    padding: 0 10px;
    border-radius: 5px;
}

#message-container {
    border: 2px dashed #33ff33;
    padding: 20px;
    max-width: 80%;
    margin: 30px auto;
    background-color: rgba(32, 32, 32, 0.8);
    word-wrap: break-word;
}

p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.4;
    margin-top: 20px;
    overflow: hidden;
    white-space: pre-wrap;
    animation: type-effect 10s steps(500, end) forwards;
    width: 100%;
    max-width: 100%;
    height: 0;
}

@keyframes type-effect {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}


.stick-figure {
    animation-delay: 10s; /* this should match the duration of your typewriter animation */
}
@keyframes walk-legs {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
}

@keyframes walk-arms {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-15deg);
    }
}

.leg, .arm {
    transform-origin: top center;
    animation-duration: 0.5s;
    animation-iteration-csount: infinite;
}

.leg {
    animation-name: walk-legs;
}

.arm {
    animation-name: walk-arms;
}
@keyframes walk-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}

.stick-figure {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: walk-right 15s infinite;
}
